#====================
# Maven
#====================
target/**

#====================
# Eclipse
#====================
.settings/**
.sts4-cache/**
.project
.classpath
.checkstyle

#====================
# VS Code
#====================
.vscode/**
